<div fxLayout="row" fxFill class="mat-typography">

  <div fxLayout="column" fxFlex="35">

    <ebs-select-list fxFlex [(value)]="currentValue">


      <ebs-select-list-item value="first">
        <mat-icon>turned_in_not</mat-icon>
        <span>First</span>
      </ebs-select-list-item>


      <ebs-select-list-item value="master">
        <mat-icon>turned_in_not</mat-icon>
        <span>I have children</span>

        <ebs-select-list-item value="a">
          <mat-icon>turned_in_not</mat-icon>
          <span>I am Child a</span>
        </ebs-select-list-item>

        <ebs-select-list-item value="b">
          <mat-icon>turned_in_not</mat-icon>
          <span>I am Child b</span>
        </ebs-select-list-item>

      </ebs-select-list-item>

      <ebs-select-list-item *ngFor="let item of items" [value]="item">
        <mat-icon>turned_in_not</mat-icon>
        <span>{{item}}</span>
      </ebs-select-list-item>

    </ebs-select-list>

  </div>

  <mat-divider vertical="true"></mat-divider>

  <div fxLayout="column" fxFlex="75" class="padding-10">
    <h3 class="mat-display-3">{{currentValue}}</h3>

    <mat-chip-list>
      <mat-chip>Standard</mat-chip>
      <mat-chip selected>Standard (Selected)</mat-chip>
      <mat-chip color="primary" selected>Primary</mat-chip>
      <mat-chip color="accent" selected>Accent</mat-chip>
      <mat-chip color="warn" selected>Warn</mat-chip>
    </mat-chip-list>

    <div fxLayout="column" class="padding-10" fxLayoutGap="10px">
      <mat-progress-bar mode="query" color="primary"></mat-progress-bar>
      <mat-progress-bar mode="query" color="accent"></mat-progress-bar>

      <mat-progress-bar
        class="example-margin"
        color="primary"
        value="60"
        bufferValue="80">
      </mat-progress-bar>
    </div>



  </div>


</div>


