

.breadcrumb-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}


.crumb {
  color: lightgrey;
  text-decoration: none;
  text-transform: capitalize;
}

.active {
  color: white;
}



.hide-last:last-child > md-icon {
  display: none;
}

