
<div fxLayout="column">
  <md-form-field color="accent" class="full-width">
    <input mdInput
           #suggestionInput
           type="text"
           [mdAutocomplete]="auto"
           [formControl]="formControl"
           name="multiinput" [placeholder]="placeholder">
  </md-form-field>
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let suggestion of availableSuggestions | async" [value]="insertSuggestion(suggestion)">
      {{ suggestion }}
    </md-option>
  </md-autocomplete>
</div>


