@import "lib/components/mat-panel/mat-panel-theme";
@import "lib/components/navigation/nav/nav-link/ebs-nav-link.component";
@import "lib/components/navigation/nav/nav-group/ebs-nav-group.component";
@import "lib/components/select-list/ebs-select-list-item/ebs-select-list-item.component";

/***************************************************************************
 *                                                                         *
 * Angular Material Fixes                                                  *
 *                                                                         *
 **************************************************************************/

// Globally disable automatic scrolling of Material Drawer Container
.mat-drawer-inner-container {
  overflow: hidden!important;
}

// Globally disable automatic scrolling of Material Tabs
.mat-tab-body-content {
  overflow: hidden!important;
  height: 100%!important;
}
.mat-tab-body-wrapper {
  flex: 1 1 100%!important;
  height: 100%!important;
}

/***************************************************************************
 *                                                                         *
 * Angular Fixes                                                           *
 *                                                                         *
 **************************************************************************/

// Trick to ensure flex functionality within router-outlet
router-outlet.router-flex + * {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%; // Required for Safari
}

/***************************************************************************
 *                                                                         *
 * Angular Material Extensions (Optional)                                  *
 *                                                                         *
 **************************************************************************/

/**
 * The mat-button-fill class will lead a mat button
 * to take up all the space, which gives you more freedom where
 * to place items inside.
 */
.mat-button-fill .mat-button-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/***************************************************************************
 *                                                                         *
 * Overriding Material Base Variables                                      *
 *                                                                         *
 **************************************************************************/

// Foreground palette for light themes.
$mat-light-theme-foreground: (
        base:              black,
        divider:           $dark-dividers,
        dividers:          $dark-dividers,
        disabled:          $dark-disabled-text,
        disabled-button:   rgba(grey, 0.5), // custom
        disabled-text:     $dark-disabled-text,
        elevation:         black,
        hint-text:         $dark-disabled-text,
        secondary-text:    $dark-secondary-text,
        icon:              rgba(black, 0.54),
        icons:             rgba(black, 0.54),
        text:              rgba(black, 0.87),
        slider-min:        rgba(black, 0.87),
        slider-off:        rgba(black, 0.26),
        slider-off-active: rgba(black, 0.38),
);

/***************************************************************************
 *                                                                         *
 * Material Color Palettes                                                 *
 *                                                                         *
 **************************************************************************/

// ElderByte Theme

$ebs-elder-blue: (
  50: #eceff1,
  100: #0051b4,
  200: #004592,
  300: #003b79,
  400: #38507f,
  500: #002852, // Official Main Color tone
  600: #001a47,
  700: #001a39,
  800: #00152b,
  900: #000029,
  A100: #eceff1,
  A200: #38507f,
  A400: #002852,
  A700: #000029,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);



$ebs-elder-gold: (
  50: #fff8e1,
  100: #eed292,
  200: #f6d797,
  300: #efd08f,
  400: #c9ad6e,
  500: #BB9F61, // Official ElderByte Accent tone
  600: #ad955e,
  700: #97804e,
  800: #806940,
  900: #897135,
  A100: #fff8e1,
  A200: #efd08f,
  A400: #BB9F61,
  A700: #897135,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Create a theme.
@mixin starter-theme($theme) {
  @include mat-panel-theme($theme);
  @include ebs-nav-theme($theme);
  @include ebs-nav-group-theme($theme);
  @include ebs-select-list-theme($theme);
}

