<div fxFill fxLayout="row" class="padding-10">


  <elder-card-stack fxFlex="30"
    [headerEnabled]="false"
    [stack]="stack"
    [autoMoveCards]="true"
  >

    <div *elderStackCard="let card" fxLayout="row" fxLayoutGap="16px">
      <span class="mat-body-1">{{card.title}}</span>
      <mat-icon
        *ngFor="let i of card.value | elderRepeat"
        color="accent">accessible_forward</mat-icon>
    </div>

  </elder-card-stack>


  <div fxLayout="column" fxFlex fxLayoutAlign="center center">
    <h3 class="mat-display-3">{{currentOrder}}</h3>
  </div>

</div>
