<div fxLayout="column" fxFill style="background-color: #f6d797">

<mat-toolbar>
  Huhu Looong
</mat-toolbar>

<div fxLayout="column" fxFlex style="background-color: #f6d797" class="scroll-fix">

  <div class="scrollable">
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
    <p>item 1</p>
  </div>
</div>
</div>
