
<div fxLayout="column" fxFill>

  <mat-toolbar color="primary" fxFlex="none">
    <button mat-icon-button (click)="close($event)">
      <mat-icon> close </mat-icon>
    </button>
    <span>Side Detail</span>
    <span fxFlex></span>
  </mat-toolbar>


  <mat-tab-group fxFlex class="scroll-fix">

      <mat-tab label="Default Scroll">

        <a mat-button (click)="navigate()">Router Link</a>
        <p>{{123 | weight}}</p>

        <p>Test</p>

        <h1 class="mat-display-1">Welcome</h1>

        <p>dont scroll</p>

      </mat-tab>

      <mat-tab label="Components">

        <mat-toolbar color="accent" style="width: 500px">
          <elder-expand-toggle-button [(expanded)]="expanded" fxFlex>
            You can toggle me. State: {{expanded}}
          </elder-expand-toggle-button>
        </mat-toolbar>

      </mat-tab>

      <mat-tab label="Features" class="scroll-fix">

        <div fxLayout="column" fxFill>
          <h2>Language Switcher</h2>

          <elder-language-switcher></elder-language-switcher>
          <h3>Translated: {{'greeting'| translate}}</h3>


          <h2>File Upload</h2>

          <elder-file-upload
            [multiple]="true"
          ></elder-file-upload>
        </div>


      </mat-tab>

      <mat-tab label="Cards">

      </mat-tab>

      <mat-tab label="Scroll" class="scroll-fix">

        <div fxFill fxLayout="row" >

          <div fxLayout="column" fxFlex="50" style="background-color: plum">
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
            <p>Static</p>
          </div>

          <div fxLayout="column" fxFlex="50">

            <div class="scrollable">
              <div style="width: 250px;height: 250px;background-color: darkorange">
                A
              </div>

              <div style="width: 250px;height: 250px;background-color: darkcyan">
                A
              </div>

              <div style="width: 250px;height: 250px;background-color: darkorange">
                A
              </div>

              <div style="width: 250px;height: 250px;background-color: darkcyan">
                A
              </div>
              <div style="width: 250px;height: 250px;background-color: darkorange">
                A
              </div>

              <div style="width: 250px;height: 250px;background-color: darkcyan">
                A
              </div>
            </div>

          </div>

        </div>

      </mat-tab>

    </mat-tab-group>


</div>



