<ebs-shell>


  <!-- Toolbar default for right column -->
  <ng-template ebsToolbarColumn="right" [ebsToolbarDefault]="true">
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button (click)="markAsFavorite($event)">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <ebs-language-switcher [slimMode]="true"></ebs-language-switcher>
    </div>
  </ng-template>


  <!-- Left Side Content -->
  <ng-template ebsShellSideLeft>

    <!-- App Header -->
    <mat-toolbar color="primary" class="side-nav-toolbar">
      <mat-toolbar-row>
        <div fxLayoutAlign="center center" style="width: 100%">
          <span class="noselect" style="font-size: 30px">{{'ngx Demo App' | translate}}</span>
        </div>
      </mat-toolbar-row>

      <mat-toolbar-row fxLayoutAlign="center center">
        <mat-icon class="noselect side-nav-header-title-icon">blur_on</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- App Navigation links -->
    <ebs-nav-list>
      <ebs-nav-link icon="list" title="Table M/D" routerLink="app/master-detail"></ebs-nav-link>
      <ebs-nav-link icon="list" title="Eatables" routerLink="app/eatables"></ebs-nav-link>
      <ebs-nav-link icon="person" title="Mixed" routerLink="app/mixed-demo"></ebs-nav-link>
      <ebs-nav-link icon="business" title="TB Title" routerLink="app/sub/toolbar-title-demo"></ebs-nav-link>
      <ebs-nav-link icon="business" title="Override Title" routerLink="app/sub/override-title"></ebs-nav-link>
    </ebs-nav-list>

  </ng-template>

</ebs-shell>
