<mat-sidenav-container style="height:100%;">
  <mat-sidenav-content fxLayout="column" fxFlex>

    <div style="width: 100%" fxLayout="column">
      <mat-toolbar color="primary" fxFlex="none">

        <div fxLayout="row" fxFlex>
          <toolbar-title [hidden]="searchOpen"></toolbar-title>

          <span fxFlex></span>

          <a mat-button color="accent" routerLink="/app/mixed-demo">Mixed</a>
          <a mat-button color="accent" routerLink="/app/sub/tolbar-title-demo">TB Title</a>
          <a mat-button color="accent" routerLink="/app/sub/override-title">Override Title</a>

        </div>
      </mat-toolbar>
    </div>


    <div class="under-toolbar">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>





    <!--
<div fxLayout="column" fxFill class="app-root" style="background-color: lightblue"></div>


    <div fxLayout="row" fxFlex="none" style="background-color: lightgoldenrodyellow">

      <span class="mat-caption">Greetings from @elderbyte/ngx-starter</span>

      <a mat-button color="accent" routerLink="/app/mixed-demo">Mixed</a>
      <a mat-button color="accent" routerLink="/app/sub/tolbar-title-demo">TB Title</a>
      <a mat-button color="accent" routerLink="/app/sub/override-title">Override Title</a>

    </div>

    <mat-toolbar color="primary" fxFlex="none">

      <div fxLayout="row" fxFlex>
        <toolbar-title [hidden]="searchOpen"></toolbar-title>

        <span fxFlex></span>

      </div>
    </mat-toolbar>

    <div fxFlex="100" fxLayout="column" style="width: 100%; height: 100%; background-color: aquamarine">
      <router-outlet ></router-outlet>
    </div>
    -->



