$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;

.app-root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* min-height:100vh; */

/*
:host {
  min-height: 100%;
  display: flex;
}*/


mat-sidenav {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}




