<div fxLayout="column" fxFill>

  <h1>
    overlay-demo
  </h1>

  <elder-overlay #overlay="elderOverlay" originX="center" overlayX="center">
    <elder-card-panel>
      <span>I am a centered overlay</span>
    </elder-card-panel>
  </elder-overlay>

  <button mat-button [elderOverlayTrigger]="overlay">Open Overlay</button>

  <h1>
    Search Panel
  </h1>

  <elder-search-box elderSearchContext class="search-area">

    <!-- Advanced search -->
    <elder-search-panel fxLayout="column" fxLayoutGap="10px">

      <span class="mat-subheader">Advanced Search</span>

      <mat-form-field>
        <input matInput ngModel elderSearchInput name="name"
               placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput ngModel elderSearchInput name="age" type="number"
               placeholder="Age">
      </mat-form-field>

    </elder-search-panel>

  </elder-search-box>


</div>

