<div fxLayout="column" fxFill>

  <h1>
    overlay-demo
  </h1>

  <elder-overlay #overlay="elderOverlay">

    <mat-card>
      <span>I am an overlay</span>
    </mat-card>

    <!--
    <div style="width: 300px; height: 300px; background-color: #2F4869">
      <span>I am an overlay</span>
    </div>
    -->
  </elder-overlay>

  <button mat-button [elderOverlayTrigger]="overlay">Open Overlay</button>

  <h1>
    Search Panel
  </h1>

  <elder-search-box elderSearchModel class="search-area">

    <span>Me etsta panele</span>

    <elder-search-panel>


      <mat-form-field>
        <input matInput ngModel elderSearchInput name="name"
               placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput ngModel elderSearchInput name="age" type="number"
               placeholder="Age">
      </mat-form-field>

    </elder-search-panel>

  </elder-search-box>


</div>

