<div fxLayout="column" fxFill>

  <mat-tab-group>
    <mat-tab label="Directives">

      <h2>test</h2>
      <p>{{123 | weight}}</p>

    </mat-tab>

    <mat-tab label="Components">

      <ebs-ngx-starter></ebs-ngx-starter>


      <mat-toolbar color="accent" style="width: 250px">
        <expand-toggle-button>You can toggle me</expand-toggle-button>
      </mat-toolbar>

    </mat-tab>

    <mat-tab label="Features">

      <app-language-switcher></app-language-switcher>

    </mat-tab>

  </mat-tab-group>



</div>

