
<div fxLayout="column" fxFill>

  <ng-template ebsToolbarColumn="center">

    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>

      <button mat-icon-button (click)="openYesNo($event)">
        <mat-icon>feedback</mat-icon>
      </button>

      <a mat-icon-button [routerLink]="['', {outlets: {side: ['mixed-demo']}}]">
        <mat-icon>details</mat-icon>
      </a>

    </div>

  </ng-template>

  <mat-tab-group fxFill class="firefox-scroll-fix">

    <mat-tab label="Directives">

      <h2>weight</h2>
      <p>{{123 | weight}}</p>

      <h2>date</h2>

      <ul>
        <li><h3>Summer (2018.07.05 08:15)</h3></li>
        <li>US {{dateTimeSummerUs | date:'yyyy.MM.dd hh:mm'}}</li>
        <li>Zurich {{dateTimeSummerZurich | date:'yyyy.MM.dd hh:mm'}}</li>
        <li>UTC {{dateTimeSummerUtc | date:'yyyy.MM.dd hh:mm'}}</li>
        <li><h3>Winter (2018.12.05 08:15)</h3></li>
        <li>US {{dateTimeWinterUs | date:'yyyy.MM.dd hh:mm'}}</li>
        <li>Zurich {{dateTimeWinterZurich | date:'yyyy.MM.dd hh:mm'}}</li>
        <li>UTC {{dateTimeWinterUtc | date:'yyyy.MM.dd hh:mm'}}</li>
      </ul>


    </mat-tab>

    <mat-tab label="Components">

      <div fxLayout="column" class="padding-10">

        <h2>expand-toggle-button</h2>

        <mat-toolbar color="accent" style="width: 500px">
          <ebs-expand-toggle-button [(expanded)]="expanded" fxFlex>
            You can toggle me. State: {{expanded}}
          </ebs-expand-toggle-button>
        </mat-toolbar>


        <h2>mat-panel</h2>

        <mat-panel color="primary" class="padding-10">
          <p>hello im a panel</p>
        </mat-panel>

        <h2>ebs-label-input</h2>

        <ebs-label-input
          name="labels"
          [(ngModel)]="myLabels"
          placeholder="Labels"
          [suggestionLoader]="labelSuggestions"
        >
        </ebs-label-input>

        <!-- EBS Date Switcher-->

        <h2>ebs-date-switcher</h2>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">

          <ebs-date-switcher
                  (dateChange)="dateChange($event)">
          </ebs-date-switcher>

          <p>Chosen date: {{date | date}}</p>

        </div>



      </div>

    </mat-tab>

    <mat-tab label="Features">

      <div fxLayout="column" class="padding-10">
        <h2>Language Switcher</h2>

        <ebs-language-switcher></ebs-language-switcher>
        <h3>Translated: {{'greeting'| translate}}</h3>


        <h2>File Upload</h2>

        <ebs-file-upload
          [multiple]="true"
          [uploadClient]="uploadClient"
        ></ebs-file-upload>

      </div>

    </mat-tab>

    <mat-tab label="Ebs Table">
      <starter-demo-table-demo></starter-demo-table-demo>
    </mat-tab>

    <mat-tab label="Cards">
      <starter-demo-cards-demo></starter-demo-cards-demo>
    </mat-tab>

    <mat-tab label="Scroll">

      <div fxFill fxLayout="row">

        <div fxLayout="column" fxFlex="50" style="background-color: plum">
          <p>Static</p>
        </div>

        <div fxLayout="column" fxFlex="50">

          <div class="scrollable">
            <div style="width: 250px;height: 250px;background-color: darkorange">
              A
            </div>

            <div style="width: 250px;height: 250px;background-color: darkcyan">
              A
            </div>

            <div style="width: 250px;height: 250px;background-color: darkorange">
              A
            </div>

            <div style="width: 250px;height: 250px;background-color: darkcyan">
              A
            </div>
            <div style="width: 250px;height: 250px;background-color: darkorange">
              A
            </div>

            <div style="width: 250px;height: 250px;background-color: darkcyan">
              A
            </div>
          </div>

        </div>

      </div>

    </mat-tab>

    <mat-tab label="Dialogs">
      <button mat-raised-button (click)="openYesNo($event)">Open YesNo</button>
    </mat-tab>

  </mat-tab-group>

</div>

