<div fxLayout="column" fxFill>

  <mat-tab-group fxFill>
    <mat-tab label="Directives">

      <h2>test</h2>
      <p>{{123 | weight}}</p>

    </mat-tab>

    <mat-tab label="Components">

      <mat-toolbar color="accent" style="width: 500px">
        <expand-toggle-button [(expanded)]="expanded" fxFlex>
          You can toggle me. State: {{expanded}}
        </expand-toggle-button>
      </mat-toolbar>

    </mat-tab>

    <mat-tab label="Features">

      <div fxLayout="column" class="padding-10">
        <h2>Language Switcher</h2>

        <app-language-switcher></app-language-switcher>
        <h3>Translated: {{'greeting'| translate}}</h3>


        <h2>File Upload</h2>

        <ebs-file-upload
          [multiple]="true"
          [uploadClient]="uploadClient"
        ></ebs-file-upload>

      </div>

    </mat-tab>

    <mat-tab label="Cards">

    </mat-tab>

    <mat-tab label="Scroll">


      <div fxFill fxLayout="column">

        <div class="scrollable">
          <div style="width: 250px;height: 250px;background-color: darkorange">
            A
          </div>

          <div style="width: 250px;height: 250px;background-color: darkcyan">
            A
          </div>

          <div style="width: 250px;height: 250px;background-color: darkorange">
            A
          </div>

          <div style="width: 250px;height: 250px;background-color: darkcyan">
            A
          </div>
          <div style="width: 250px;height: 250px;background-color: darkorange">
            A
          </div>

          <div style="width: 250px;height: 250px;background-color: darkcyan">
            A
          </div>
        </div>


      </div>




    </mat-tab>

    <mat-tab label="Dialogs">
      <button mat-raised-button (click)="openYesNo($event)">Open YesNo</button>
    </mat-tab>

  </mat-tab-group>



</div>

