<elder-card-organizer fxFill
                    [autoMoveCards]="true"
                    [organizerModel]="cardData"
                    [removeConfirmation]="confirmDeletion"
                    (cardClick)="cardClicked($event)"
                    (requestNewCard)="createNewCard($event)"
                    (cardDropped)="myCardDropped($event)"
                    [canEnterPredicate]="canEnter"

>

  <div *elderStackCard="let card" fxLayout="row" fxLayoutGap="16px">
    <mat-icon color="primary">face</mat-icon>
    <span class="mat-body-1">{{card}}</span>
  </div>

</elder-card-organizer>
