/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~dist/elderbyte/ngx-starter/theming';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();


// DEFAULT Theme
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-orange);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Set 'candy-app' as default theme
@include angular-material-theme($candy-app-theme);
@include starter-theme($candy-app-theme);


html, body {
  min-height:100vh;
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

body {
  display: block;
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  position: fixed;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1,h2,h3,h4 {
  font-weight: 300;
}

.mat-toolbar {
  font-weight: 300!important;
}


.full-width {
  width: 100%;
}

.green {
  background-color: green;
}

.padding-10 {
  padding: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


/** https://bugzilla.mozilla.org/show_bug.cgi?id=1043520 **/
.firefox-scroll-fix {
  min-width:0;
  min-height:0;
}

.side-detail {
  max-width: 80vw;
  white-space: nowrap;
  overflow: hidden;
}



html, body {
  min-height:100vh;
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: 300;
}

body {
  display: block;
  margin: 0px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
  position: fixed;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

starter-demo-root {
  overflow: hidden;
}


.padding-10 {
  padding: 10px;
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/** https://bugzilla.mozilla.org/show_bug.cgi?id=1043520 **/
.firefox-scroll-fix {
  min-width:0;
  min-height:0;
}
