/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~dist/elderbyte/ngx-starter/theming';
// @import '~@elderbyte/ngx-starter/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();


// DEFAULT Theme
// DEFAULT Theme
$elder-app-primary: mat-palette($ebs-elder-blue); // default, lighter, and darker
$elder-app-accent:  mat-palette($ebs-elder-gold);
$elder-app-warn:  mat-palette($mat-red, 900);
$elder-app-theme:   mat-light-theme($elder-app-primary, $elder-app-accent, $elder-app-warn);

// Set 'elder-app' as default theme
@include angular-material-theme($elder-app-theme);
@include starter-theme($elder-app-theme);


html, body {
  min-height:100vh;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: block;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  position: fixed;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.full-width {
  width: 100%;
}

.green {
  background-color: green;
}

.padding-10 {
  padding: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/** https://bugzilla.mozilla.org/show_bug.cgi?id=1043520 **/
.scroll-fix {
  min-width:0;
  min-height:0;
}

.side-detail {
  max-width: 80vw;
  white-space: nowrap;
  overflow: hidden;
}

starter-demo-root {
  overflow: hidden;
}
