

<div fxLayout="row" fxLayoutAlign="center center">

  <span *ngIf="searchCollapsed" fxFlex></span>


  <div *ngIf="!searchCollapsed" fxLayout="row" fxLayoutAlign="center center" fxFlex>

    <!-- Query Keywords -->
    <md-input-container color="accent" floatPlaceholder="never" fxFlex>
      <md-icon mdPrefix>search</md-icon>
      <input mdInput type="search"
             (keyup)='onQueryChanged()'
             #txtSearch>
    </md-input-container>

    <!-- Sort -->
    <md-menu #sortMenu="mdMenu">
      <button *ngFor="let sort of availableSort" md-menu-item
              fxLayout="row" fxLayoutAlign="space-between center"
              (click)="sortBy(sort)"
      >
        {{sort.name}}
        <md-icon *ngIf="selectedSort?.id==sort.id">check</md-icon>
      </button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="sortMenu">
      <md-icon>sort</md-icon>
    </button>

    <!-- Sort Asc/Desc-->
    <button md-icon-button (click)="toggleSortAsc()">
      <md-icon>{{sortAsc ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
    </button>

  </div>


  <!-- Toggle Global Search -->
  <button md-icon-button (click)="toggleSearch()" [disabled]="globalSearchDisabled">
    <md-icon>{{toggleIcon}}</md-icon>
  </button>
</div>


